<div class="modal-header">
  <h2 class="modal-title m-0">{{ manufactured.id ? 'Sửa mã giảm' : 'Thêm mã giảm' }}</h2>
  <button type="button" class="modal__btn close" data-dismiss="modal" aria-hidden="true" (click)="closePopup()">&times;</button>
</div>
<div class="modal-body">
  <input type="hidden" />
  <!-- <input type="hidden" formControlName="rate"> -->
  <div class="row">
    <div>
      <div class="form-group col-md-12">
        <label for="voucherCode">Tên hãng:</label>
        <input
          type="text"
          name="voucherCode"
          id="voucherCode"
          [ngClass]="{ 'is-invalid': !manufactured.name }"
          [(ngModel)]="manufactured.name"
          class="form-control"
          placeholder="Mã giảm"
        />
        <small *ngIf="!manufactured.name" class="text-danger">Tên hãng không hợp lệ</small>
      </div>
      <div class="col-md-12 p-0">
        <div class="col-12 mt-4">
          <label for="description">Mô tả:</label>
          <textarea
            [ngClass]="{ 'is-invalid': !manufactured.description }"
            [(ngModel)]="manufactured.description"
            class="form-control"
            name="description"
            id="description"
            placeholder="abc"
            style="height: 120px"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center float-right">
      <h3>Logo hãng</h3>
      <img [src]="url" width="200px" id="blah" class="img-fluid" />
      <div class="input-group col-10 offset-1 mt-10">
        <label for="inputGroupFile01" class="ml-60 btn btn-dark">Chọn logo</label>
        <input type="file" accept="image/*" (change)="readUrl($event)" class="form-control d-none" id="inputGroupFile01" />
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" class="col-2 m-3" [disabled]="!manufactured" (click)="save()">
    {{ manufactured.id ? 'Sửa' : 'Thêm' }}
  </button>
</div>
