<div class="cart-main-area ptb-100 ptb-sm-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- Table Content Start -->
        <div class="table-content table-responsive mb-45">
          <table>
            <thead>
              <tr>
                <th class="product-thumbnail">Ảnh</th>
                <th class="product-name">Tên sản phẩm</th>
                <th class="product-price">Đơn giá</th>
                <th class="product-quantity">Số lượng</th>
                <th class="product-subtotal">Tổng tiền</th>
                <th class="product-remove">Xóa</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of orderDetails; let i = index">
                <td class="product-thumbnail">
                  <a href="#"><img src="./content/img/products/13.jpg" alt="cart-image" /></a>
                </td>
                <td class="product-name">
                  <a href="#">{{ product.product!.name }}</a>
                </td>
                <td class="product-price">
                  <span class="amount">{{ product.unitPrice | currency: 'VND':true }}</span>
                </td>
                <td class="product-quantity"><input type="number" [(ngModel)]="product.quantity" /></td>
                <td class="product-subtotal">{{ product.total | currency: 'VND':true }}</td>
                <td class="product-remove">
                  <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Table Content Start -->
        <div class="row">
          <!-- Cart Button Start -->
          <div class="col-md-8 col-sm-12">
            <div class="buttons-cart">
              <input type="submit" (click)="updateCart()" value="Sửa giỏ hàng" />
              <a routerLink="/">Tiếp tục mua hàng</a>
              <button class="btn btn-outline-danger" type="button" (click)="selectVoucher()">Chọn mã giảm giá</button>
            </div>
          </div>
          <!-- Cart Button Start -->
          <!-- Cart Totals Start -->
          <div class="col-md-4 col-sm-12">
            <div class="cart_totals float-md-right text-md-right">
              <h2>Tiền Hàng</h2>
              <br />
              <table class="float-md-right">
                <tbody>
                  <tr class="cart-subtotal">
                    <th>Ước tính</th>
                    <td>
                      <span class="amount">{{ getTotalAmount() | currency: 'VND':true }}</span>
                    </td>
                  </tr>
                  <tr class="order-total">
                    <th>Tổng tiền</th>
                    <td>
                      <strong
                        ><span class="amount">{{ getTotalAmount() | currency: 'VND':true }}</span></strong
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="wc-proceed-to-checkout">
                <a (click)="checkOut()" style="color: #ffff">Thanh toán</a>
              </div>
            </div>
          </div>
          <!-- Cart Totals End -->
        </div>
      </div>
    </div>
    <!-- Row End -->
  </div>
</div>
