<div class="breadcrumb-area mb-30">
  <div class="container">
    <div class="breadcrumb">
      <ul class="d-flex align-items-center">
        <li><a>Trang chủ</a></li>
        <li class="active"><a>Giỏ hàng</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="cart-main-area ptb-sm-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="float-right d-flex">
          <label for="total"><h3>Tổng tiền:&ensp;</h3></label>
          <strong>
            <span id="total" class="amount"
              ><h3>
                {{ getTotalAmount() | currency: 'VND':true }}
              </h3></span
            >
          </strong>
        </div>
        <div class="table-content table-responsive mb-45 border-fix">
          <table>
            <thead>
              <tr>
                <th class="product-thumbnail">Ảnh</th>
                <th class="product-name">Tên sản phẩm</th>
                <th class="product-price">Đơn giá</th>
                <th class="product-quantity">Số lượng</th>
                <th class="product-subtotal">Tổng tiền</th>
                <th class="product-remove">Hủy</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of orderDetails; let i = index">
                <td class="product-thumbnail">
                  <a><img [src]="product.image" alt="cart-image" /></a>
                </td>
                <td class="product-name">
                  <a>{{ product.product!.name }}</a>
                </td>
                <td class="product-price">
                  <span class="amount">{{ product.unitPrice | currency: 'VND':true }}</span>
                </td>
                <td class="product-quantity">
                  <input type="number" min="1" [(ngModel)]="product.quantity" (ngModelChange)="changeQuantity()" />
                </td>
                <td class="product-subtotal">{{ product.total | currency: 'VND':true }}</td>
                <td class="product-remove">
                  <a><fa-icon [icon]="'trash'" [size]="'2x'" (click)="deleteInCart(i)" tooltip="Hủy"></fa-icon></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="buttons-cart">
              <a routerLink="/">Tiếp tục mua hàng</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="buttons-cart float-right">
              <a (click)="checkOut()" style="color: #ffff">Đăt hàng</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->
  </div>
</div>
