.hidden-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95px;
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
}

.hidden-text-2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80px;
}

.border-fix {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 15px;
  min-height: 470px;
  box-shadow: 0 0 6px rgb(226, 226, 226);
}
