.hidden-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95px;
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
}

.hidden-text-2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80px;
}
