<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="sellphonealamApp.payment.detail.title">Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.payment.orderDetailID">Order Detail ID</span></dt>
        <dd>
          <span>{{ payment.orderDetailID }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.payment.bankID">Bank ID</span></dt>
        <dd>
          <span>{{ payment.bankID }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.payment.status">Status</span></dt>
        <dd>
          <span>{{ payment.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
