.icon {
  text-decoration: none;
  color: white;
}

.icon:hover {
  color: #e2d880e0;
}

.lineColor {
  background-color: #7c4dff !important;
  width: 60px;
}

.contactFooter {
  padding: 0;
}

.headerFooter {
  background-color: #6351ce;
}

.wp:hover {
  color: #00e676;
}

.inst:hover {
  color: #e079fa;
}

.skype:hover {
  color: #01aeea;
}

.mail:hover {
  color: #00bcd4;
}

.footerBottom {
  background-color: #0e1219;
}

footer {
  background-color: #161c27;
}

a {
  text-decoration: none;
  color: white;
}
