<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bank">
      <h2 data-cy="bankDetailsHeading"><span jhiTranslate="sellphonealamApp.bank.detail.title">Bank</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bank.id }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.bank.accountName">Account Name</span></dt>
        <dd>
          <span>{{ bank.accountName }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.bank.bankName">Bank Name</span></dt>
        <dd>
          <span>{{ bank.bankName }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.bank.accountNumber">Account Number</span></dt>
        <dd>
          <span>{{ bank.accountNumber }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.bank.branch">Branch</span></dt>
        <dd>
          <span>{{ bank.branch }}</span>
        </dd>
        <dt><span jhiTranslate="sellphonealamApp.bank.status">Status</span></dt>
        <dd>
          <span>{{ bank.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bank', bank.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
