<!--<h2 style="font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: underline" *ngIf="getTitel() !== ''"> {{ getTitel() }} </h2>-->
<div class="container col-lg-12" style="display: flex">
  <div class="row">
    <div class="single-product" *ngFor="let product of products; trackBy: trackId; let i = index" data-cy="entityTable">
      <!-- Product Image Start -->
      <div class="pro-img">
        <a (click)="viewDetail(product)">
          <img class="primary-img" [src]="product.image" alt="single-product" height="268px" />
        </a>
      </div>
      <!-- Product Image End -->
      <!-- Product Content Start -->
      <div class="pro-content">
        <div class="pro-info">
          <h4>
            <a href="#">{{ product.name }}</a>
          </h4>
          <p>
            <span class="price" *ngIf="!product.isPromotion; else notpromotion">{{ product.unitPrice | currency: 'VND':true }}</span>
            <ng-template #notpromotion>
              <span class="price" *ngIf="product.isPromotion">{{ product.promotionPrice | currency: 'VND':true }}</span>
              <del class="prev-price" *ngIf="product.isPromotion">{{ product.unitPrice | currency: 'VND':true }}</del>
            </ng-template>
          </p>
          <div class="label-product l_sale" *ngIf="product.isPromotion">
            {{ product.vouchers![0].promotionRate }}<span class="symbol-percent">%</span>
          </div>
        </div>
        <div class="pro-actions">
          <div class="actions-primary">
            <a title="Thêm vào giỏ hàng" (click)="addToCart(product)"> + Thêm vào giỏ hàng</a>
          </div>
          <div class="actions-secondary">
            <a href="#" title="WishList"><i class="lnr lnr-heart"></i> <span>Thêm vào yêu thích</span></a>
          </div>
        </div>
      </div>
      <!-- Product Content End -->
    </div>
  </div>
</div>
