.single-product {
  width: 268px;
  height: 400px;
}
@media screen and (min-width: 480px) {
  .list-product {
    width: 50%;
  }
}

.modal-header {
  border: none;
}

.border-fix {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(226, 226, 226);
  //width: 1200px;
}
