<div class="modal-header">
  <h2 class="modal-title m-0">{{ voucher.id ? 'Sửa mã giảm' : 'Thêm mã giảm' }}</h2>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closePopup()">&times;</button>
</div>
<div class="modal-body">
  <input type="hidden" />
  <!-- <input type="hidden" formControlName="rate"> -->
  <div class="row">
    <div class="form-group col-md-6">
      <label for="voucherCode">Mã giảm:</label>
      <input
        type="text"
        name="voucherCode"
        id="voucherCode"
        [ngClass]="{ 'is-invalid': !voucher.voucherCode }"
        [(ngModel)]="voucher.voucherCode"
        class="form-control"
        placeholder="Mã giảm"
      />
      <small *ngIf="!voucher.voucherCode" class="text-danger">Mã giảm không hợp lệ</small>
    </div>
    <div class="col-md-6">
      <label for="promotionRate">Phần trăm giảm:</label>
      <input
        type="text"
        name="promotionRate"
        id="promotionRate"
        [ngClass]="{ 'is-invalid': !voucher.promotionRate }"
        [(ngModel)]="voucher.promotionRate"
        class="form-control"
        placeholder="Phần trăm giảm"
      />
      <small *ngIf="!voucher.promotionRate" class="text-danger">Phần trăm giảm không hợp lệ</small>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="dateIssue">Ngày hiệu lực:</label>
      <input
        type="text"
        name="dateIssue"
        id="dateIssue"
        [ngClass]="{ 'is-invalid': !voucher.dateIssue }"
        [(ngModel)]="voucher.dateIssue"
        class="form-control"
        placeholder="Số hiệu lực"
      />
      <small *ngIf="!voucher.dateIssue" class="text-danger">Ngày hiệu không hợp lệ</small>
    </div>
    <div class="form-group col-md-6 mt-4">
      <label for="isNew">Hoạt động:</label>
      <div class="checkbox-form" style="margin-left: 30px">
        <input type="checkbox" name="isNew" id="isNew" [(ngModel)]="voucher.status" class="" />
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" class="col-2 m-3" [disabled]="!voucher" (click)="save()">
    {{ voucher.id ? 'Sửa' : 'Thêm' }}
  </button>
</div>
