.flex-products {
  display: flex;
}

.double-product {
  padding-right: 10px;
}

.single-product-2 {
  background: #fff none repeat scroll 0 0;
  position: relative;
  transition: all 0.5s ease-in-out 0s;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 35px;
  width: 268px;
  height: 400px;
}

.single-product {
  width: 250px;
  height: 362px;
}
