<div class="main-brand-banner pt-95 pb-100 pt-sm-55 pb-sm-60">
  <div class="container">
    <div class="section-ttitle mb-20">
      <h2>Best Seller</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-3">
        <div class="col-img">
          <img
            src="./content/img/banner/xiaomi-ra-mat-mau-xanh-dai-duong-moi-danh-cho-redmi-note-8-pro-xtmobile-banner.jpg"
            style="height: 194px"
            alt=""
          />
          <img
            src="./content/img/banner/xiaomi-ra-mat-mau-xanh-dai-duong-moi-danh-cho-redmi-note-8-pro-xtmobile-banner.jpg"
            style="height: 194px"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Brand Banner Start -->
        <div class="brand-banner">
          <div class="single-brand">
            <a
              ><img class="img" src="./content/img/banner/apple-products-banner.png" style="height: 128px; width: 555px" alt="brand-image"
            /></a>
            <a><img src="./content/img/banner/images.jpg" style="height: 128px; width: 551px" alt="brand-image" /></a>
            <a><img src="./content/img/banner/images%20(1).png" style="height: 128px; width: 551px" alt="brand-image" /></a>
          </div>
        </div>
        <!-- Brand Banner End -->
      </div>
      <div class="col-lg-3">
        <div class="col-img">
          <img src="./content/img/banner/maxresdefault.jpg" style="height: 194px" alt="" />
          <img src="./content/img/banner/maxresdefault.jpg" style="height: 194px" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->
</div>
