<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="sellphonealamApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.unitPrice" for="field_unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.installment" for="field_installment">Installment</label>
          <input
            type="checkbox"
            class="form-check"
            name="installment"
            id="field_installment"
            data-cy="installment"
            formControlName="installment"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.accompanyingProducts" for="field_accompanyingProducts"
            >Accompanying Products</label
          >
          <input
            type="text"
            class="form-control"
            name="accompanyingProducts"
            id="field_accompanyingProducts"
            data-cy="accompanyingProducts"
            formControlName="accompanyingProducts"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.warranty" for="field_warranty">Warranty</label>
          <input type="number" class="form-control" name="warranty" id="field_warranty" data-cy="warranty" formControlName="warranty" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.createdDate" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.modifiedDate" for="field_modifiedDate"
            >Modified Date</label
          >
          <div class="input-group">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="text"
              class="form-control"
              name="modifiedDate"
              ngbDatepicker
              #modifiedDateDp="ngbDatepicker"
              formControlName="modifiedDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="modifiedDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.createdUser" for="field_createdUser">Created User</label>
          <input
            type="text"
            class="form-control"
            name="createdUser"
            id="field_createdUser"
            data-cy="createdUser"
            formControlName="createdUser"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.modifiedUser" for="field_modifiedUser"
            >Modified User</label
          >
          <input
            type="text"
            class="form-control"
            name="modifiedUser"
            id="field_modifiedUser"
            data-cy="modifiedUser"
            formControlName="modifiedUser"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.product.status" for="field_status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
