<div class="modal-header">
  <h2 class="modal-title m-0">{{ product.id ? 'Sửa sản phẩm' : 'Thêm sản phẩm' }}</h2>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closePopup()">&times;</button>
</div>
<div class="modal-body">
  <input type="hidden" />
  <!-- <input type="hidden" formControlName="rate"> -->
  <div class="row input-pro">
    <div class="form-group col-md-6">
      <label for="name">Tên sản phẩm:</label>
      <input
        type="text"
        name="name"
        id="name"
        [ngClass]="{ 'is-invalid': !product.name }"
        [(ngModel)]="product.name"
        class="form-control"
        placeholder="Tên sản phẩm"
      />
      <small *ngIf="!product.name" class="text-danger">Tên sản phẩm không hợp lệ</small>
    </div>
    <div class="col-md-3">
      <label for="typeID">Loại:</label>
      <select class="custom-select" name="typeID" id="typeID" [(ngModel)]="product.typeID">
        <option [ngValue]="TypeID.PRODUCT_LAPTOP">Laptop</option>
        <option [ngValue]="TypeID.PRODUCT_SMART_PHONE">Điện thoại</option>
        <option [ngValue]="TypeID.PRODUCT_SMART_WATCH">Đồng hồ thông minh</option>
        <option [ngValue]="TypeID.PRODUCT_TAPBLET">Tablet</option>
        <option [ngValue]="TypeID.PRODUCT_ACCESSORY">Phụ kiện</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="manufacturerID">Nhãn hàng:</label>
      <select class="custom-select" name="category" id="manufacturerID" [(ngModel)]="productDetail.manufacturerID">
        <option *ngFor="let item of manufactured" [ngValue]="item.id">{{ item.name }}</option>
      </select>
    </div>
  </div>
  <div class="row input-pro">
    <div class="form-group col-md-2">
      <label for="quantity">Số lượng:</label>
      <input
        type="number"
        name="quantity"
        id="quantity"
        [ngClass]="{ 'is-invalid': !product.quantity }"
        [(ngModel)]="product.quantity"
        class="form-control"
        placeholder="99"
      />
      <small *ngIf="!product.quantity" class="text-danger">Số lượng không hợp lệ</small>
    </div>
    <div class="form-group col-md-2">
      <label for="price">Giá:</label>
      <div class="input-group">
        <input
          name="price"
          id="price"
          [ngClass]="{ 'is-invalid': !product.unitPrice }"
          [(ngModel)]="product.unitPrice"
          currencyMask
          [options]="optionsDirective3"
          class="form-control"
          placeholder="100.000.000"
        />
      </div>
      <small *ngIf="!product.unitPrice" class="text-danger">Giá sản phẩm không hợp lệ</small>
    </div>
    <div class="form-group col-md-2">
      <label for="warranty">Bảo hành:</label>
      <div class="input-group">
        <input
          type="number"
          name="price"
          id="warranty"
          [ngClass]="{ 'is-invalid': !product.warranty }"
          [(ngModel)]="product.warranty"
          class="form-control"
          placeholder="vd:12..."
        />
      </div>
      <small *ngIf="!product.warranty" class="text-danger">Nhập thời gian bảo hành!</small>
    </div>
    <div class="col-md-3">
      <label for="accompanyingProducts">Sản phẩm tặng kèm:</label>
      <input
        type="text"
        name="accompanyingProducts"
        id="accompanyingProducts"
        [(ngModel)]="product.accompanyingProducts"
        class="form-control"
        placeholder="Tên sản phẩm"
      />
    </div>
    <div class="col-md-3">
      <label for="capacity">Dung lượng:</label>
      <input type="text" name="capacity" id="capacity" [(ngModel)]="productDetail.capacity" class="form-control" placeholder="Dung lượng" />
    </div>
  </div>
  <div class="row input-pro">
    <div class="col-md-3">
      <label for="screen">Màn hình:</label>
      <input type="text" name="screen" id="screen" [(ngModel)]="productDetail.screen" class="form-control" placeholder="Màn hình" />
    </div>
    <div class="col-md-3">
      <label for="camera">Camera:</label>
      <input type="text" name="camera" id="camera" [(ngModel)]="productDetail.camera" class="form-control" placeholder="Camera" />
    </div>
    <div class="col-md-3">
      <label for="oSAndCPU">Hệ điều hành:</label>
      <input
        type="text"
        name="oSAndCPU"
        id="oSAndCPU"
        [(ngModel)]="productDetail.oSAndCPU"
        class="form-control"
        placeholder="Hệ điều hành"
      />
    </div>
    <div class="col-md-3">
      <label for="pIN">PIN:</label>
      <input type="text" name="pIN" id="pIN" [(ngModel)]="productDetail.pIN" class="form-control" placeholder="PIN" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6 p-0">
      <div class="d-flex">
        <div class="form-group col-md-6 mr-0">
          <label for="discount">Trả góp:</label>
          <div class="input-group">
            <input
              type="number"
              name="discount"
              id="discount"
              [ngClass]="{ 'is-invalid': !product.installment }"
              [(ngModel)]="product.installment"
              class="form-control"
              placeholder="10"
              min="0"
            />
            <span class="input-group-text">%</span>
          </div>
          <small *ngIf="!product.installment" class="text-danger">Không hợp lệ</small>
        </div>
        <div class="form-group col-md-6 mt-4">
          <label for="isNew">Sản phẩm mới:</label>
          <div class="checkbox-form" style="float: right; margin-right: 60px">
            <input type="checkbox" name="isNew" id="isNew" [(ngModel)]="product.isNew" class="" />
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <label for="description">Mô tả:</label>
        <textarea
          [ngClass]="{ 'is-invalid': !productDetail.description }"
          [(ngModel)]="productDetail.description"
          class="form-control"
          name="description"
          id="description"
          placeholder="abc"
          style="height: 120px"
        ></textarea>
      </div>
    </div>
    <div class="col-6 text-center">
      <h3>Ảnh sản phẩm</h3>
      <img [src]="url" width="200px" id="blah" class="img-fluid" />
      <div class="input-group col-10 offset-1 mt-10">
        <label for="inputGroupFile01" class="ml-120 btn btn-dark">Chọn ảnh</label>
        <input type="file" accept="image/*" (change)="readUrl($event)" class="form-control d-none" id="inputGroupFile01" />
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" class="col-2 m-3" [disabled]="!product" (click)="save()">
    {{ product.id ? 'Sửa' : 'Thêm' }}
  </button>
</div>
