<div class="col-12 p-0 mt-4">
  <div class="col">
    <h2 style="font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: underline">Quản lí mã giảm</h2>
    <div class="m-2" *ngIf="isLoading">
      <div class="pull-right label label-info row col" style="min-height: 700px !important">
        <!-- <div class="loader"></div> -->
        <div
          class="spinner-border"
          role="status"
          style="margin: auto; width: 6em; height: 6em; border: 0.7em solid black currentColor"
        ></div>
      </div>
    </div>
    <div class="m-2">
      <!--      <mat-form-field>-->
      <!--        <mat-label>Tìm kiếm</mat-label>-->
      <!--        <input matInput type="text" (keyup)="search($event)" />-->
      <!--      </mat-form-field>-->
      <button mat-raised-button color="primary" style="float: right; margin-bottom: 18px; margin-right: 16px" (click)="addNew()">
        Thêm mã giảm
      </button>
      <table mat-table [dataSource]="listData" matSort class="mat-elevation-z8" style="width: 1383px">
        <ng-container matColumnDef="voucherCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 7%">Mã voucher</th>
          <td mat-cell *matCellDef="let row">{{ row.voucherCode }}</td>
        </ng-container>
        <ng-container matColumnDef="promotionRate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 19%">Phần trăm giảm</th>
          <td mat-cell *matCellDef="let row">{{ row.promotionRate }}%</td>
        </ng-container>
        <ng-container matColumnDef="dateIssue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%">Ngày hiệu lực</th>
          <td mat-cell *matCellDef="let row">{{ row.dateIssue }} ngày</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%">Hoạt động</th>
          <td mat-cell *matCellDef="let row">{{ row.status ? 'Đang hoạt động' : 'Hết hạn' }}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef style="width: 5%">Sửa</th>
          <td mat-cell *matCellDef="let row">
            <a>
              <fa-icon [icon]="'wrench'" [size]="'2x'" (click)="edit(row)" tooltip="Sửa"></fa-icon>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef style="width: 5%">Xoá</th>
          <td mat-cell *matCellDef="let row">
            <a>
              <fa-icon [icon]="'trash'" [size]="'2x'" (click)="delete(row.id, row.name)" tooltip="Xóa"></fa-icon>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
      <mat-paginator [length]="productsLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"> </mat-paginator>
    </div>
  </div>
</div>
