<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closePopup()">&times;</button>
</div>
<div class="main-product-thumbnail ptb-50 ptb-sm-60">
  <div class="container">
    <div class="row">
      <!-- Main Thumbnail Image Start -->
      <div class="col-lg-5 mb-all-40">
        <!-- Thumbnail Large Image start -->
        <div class="tab-content">
          <div id="thumb1" class="tab-pane fade show active">
            <a data-fancybox="images" href="../../../../content/img/products/35.jpg"
              ><img src="../../../../content/img/products/35.jpg" alt="product-view"
            /></a>
          </div>
        </div>
        <!-- Thumbnail image end -->
      </div>
      <!-- Main Thumbnail Image End -->
      <!-- Thumbnail Description Start -->
      <div class="col-lg-7">
        <div class="thubnail-desc fix">
          <h3 class="product-header">{{ product.name }}</h3>
          <div class="fix">
            <div class="rating-feedback">
              <a class="mt-0" id="manufacturerName">{{ 'Tên hãng:   ' + productDetail.manufacturer!.name }}</a>
            </div>
            <div class="rating-feedback">
              <a class="mt-10" id="capacity">{{ 'Dung lượng:   ' + productDetail.capacity }}</a>
            </div>
            <div class="rating-feedback">
              <a class="mt-10" id="screen">{{ 'Màn hình:   ' + productDetail.screen }}</a>
            </div>
            <div class="rating-feedback">
              <a class="mt-10" id="camera">{{ 'Tên hãng:   ' + productDetail.camera }}</a>
            </div>
            <div class="rating-feedback">
              <a class="mt-10" id="oSAndCPU">{{ 'Hệ điều hành:   ' + productDetail.oSAndCPU }}</a>
            </div>
            <div class="rating-feedback">
              <a class="mt-10" id="pIN">{{ 'Dung lượng pin:   ' + productDetail.pIN }}</a>
            </div>
            <div class="rating-feedback">
              <a class="mt-10" id="color">{{ 'Màu:   ' + productDetail.color }}</a>
            </div>
            <p class="mt-20 mb-20 pro-desc-details">{{ productDetail.description }}</p>
          </div>
        </div>
        <!-- Thumbnail Description End -->
      </div>
    </div>
    <!-- Container End -->
  </div>
</div>
