<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-feedback-heading" data-cy="FeedbackCreateUpdateHeading" jhiTranslate="sellphonealamApp.feedback.home.createOrEditLabel">
        Create or edit a Feedback
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.feedback.userID" for="field_userID">User ID</label>
          <input type="number" class="form-control" name="userID" id="field_userID" data-cy="userID" formControlName="userID" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.feedback.productID" for="field_productID">Product ID</label>
          <input type="number" class="form-control" name="productID" id="field_productID" data-cy="productID" formControlName="productID" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.feedback.content" for="field_content">Content</label>
          <input type="text" class="form-control" name="content" id="field_content" data-cy="content" formControlName="content" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.feedback.rate" for="field_rate">Rate</label>
          <input type="number" class="form-control" name="rate" id="field_rate" data-cy="rate" formControlName="rate" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.feedback.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
