<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-product-details-heading"
        data-cy="ProductDetailsCreateUpdateHeading"
        jhiTranslate="sellphonealamApp.productDetails.home.createOrEditLabel"
      >
        Create or edit a Product Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.productID" for="field_productID"
            >Product ID</label
          >
          <input type="number" class="form-control" name="productID" id="field_productID" data-cy="productID" formControlName="productID" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.manufacturerID" for="field_manufacturerID"
            >Manufacturer ID</label
          >
          <input
            type="number"
            class="form-control"
            name="manufacturerID"
            id="field_manufacturerID"
            data-cy="manufacturerID"
            formControlName="manufacturerID"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.capacity" for="field_capacity">Capacity</label>
          <input type="text" class="form-control" name="capacity" id="field_capacity" data-cy="capacity" formControlName="capacity" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.screen" for="field_screen">Screen</label>
          <input type="text" class="form-control" name="screen" id="field_screen" data-cy="screen" formControlName="screen" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.camera" for="field_camera">Camera</label>
          <input type="text" class="form-control" name="camera" id="field_camera" data-cy="camera" formControlName="camera" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.oSAndCPU" for="field_oSAndCPU">O S And CPU</label>
          <input type="text" class="form-control" name="oSAndCPU" id="field_oSAndCPU" data-cy="oSAndCPU" formControlName="oSAndCPU" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.pIN" for="field_pIN">P IN</label>
          <input type="text" class="form-control" name="pIN" id="field_pIN" data-cy="pIN" formControlName="pIN" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.imageUrl" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sellphonealamApp.productDetails.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
