<div class="big-banner mt-100 pb-85 mt-sm-60 pb-sm-45">
  <div class="container banner-2">
    <div class="banner-box">
      <div class="col-img">
        <a><img class="two-banner" src="./content/img/banner/blackfriday1.webp" alt="banner 3" /></a>
      </div>
      <div class="col-img">
        <a><img class="two-banner" src="./content/img/banner/banner3-2.jpg" alt="banner 3" /></a>
      </div>
    </div>
    <div class="banner-box">
      <div class="col-img">
        <a><img class="one-banner" src="./content/img/banner/megasale.jpg" alt="banner 3" /></a>
      </div>
    </div>
    <div class="banner-box">
      <div class="col-img">
        <a href="#"
          ><img
            class="two-banner"
            src="./content/img/banner/samsung-chinh-thuc-ra-mat-bo-ba-galaxy-s20-an-tuong-he-thong-camera-9.jpg"
            alt="banner 3"
        /></a>
      </div>
      <div class="col-img">
        <a href="#"><img class="two-banner" src="./content/img/banner/Lifestyle-TV_Dealer-Banner-Adapt-1200.jpg" alt="banner 3" /></a>
      </div>
    </div>
    <div class="banner-box">
      <div class="col-img">
        <a href="#"
          ><img
            class="one-banner"
            src="./content/img/banner/fold2_offerbanner_720x720_38fe4001a0c943999a5976c92cca2c21_master.webp"
            alt="banner 3"
        /></a>
      </div>
    </div>
    <div class="banner-box">
      <div class="col-img">
        <a href="#"><img class="two-banner" src="./content/img/banner/apple-watch-banner-2.jpg" alt="banner 3" /></a>
      </div>
      <div class="col-img">
        <a href="#"><img class="two-banner" src="./content/img/banner/Xiaomi-Mi-MIX-3-ra-mat-3.webp" alt="banner 3" /></a>
      </div>
    </div>
  </div>
  <!-- Container End -->
</div>
