.flex-products {
  display: flex;
}

.double-product {
  padding-right: 10px;
}

.single-product {
  width: 265px;
  height: 408px;
}

.primary-img {
  width: 265px;
  height: 290px;
}

.border-fix {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(226, 226, 226);
  //width: 1200px;
}
