<div class="ptb-95 off-white-bg pt-sm-50 pb-sm-55">
  <div class="container">
    <div>
      <h2 class="section-ttitle2 mb-30">Có thể bạn thích</h2>
      <div class="row">
        <div class="single-product mr-3 border-fix" *ngFor="let pro of productDoubles; let i = index">
          <div class="pro-img">
            <a (click)="viewDetail(pro)">
              <img class="primary-img" [src]="pro.image" alt="single-product" />
            </a>
          </div>
          <div class="pro-content">
            <div class="pro-info">
              <h4>
                <a>{{ pro.name }}</a>
              </h4>
              <p>
                <span class="price" *ngIf="!pro.isPromotion; else notPromotion">{{ pro.unitPrice | currency: 'VND':true }}</span>
                <ng-template #notPromotion>
                  <span class="price" *ngIf="pro.isPromotion">{{ pro.promotionPrice | currency: 'VND':true }}</span>
                  <del class="prev-price" *ngIf="pro.isPromotion">{{ pro.unitPrice | currency: 'VND':true }}</del>
                </ng-template>
              </p>
              <div class="label-product l_sale" *ngIf="pro.isPromotion">
                {{ pro.vouchers![0].promotionRate }}<span class="symbol-percent">%</span>
              </div>
            </div>
            <div class="pro-actions">
              <div class="actions-primary mt-5">
                <a title="Add to Cart" (click)="addToCart(pro)"> + Thêm vào giỏ hàng</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
