<div class="col-12 p-0 mt-4">
  <div class="col">
    <h2 style="font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: underline">Quản lí hóa đơn</h2>
    <div class="m-2" *ngIf="isLoading">
      <div class="pull-right label label-info row col" style="min-height: 700px !important">
        <!-- <div class="loader"></div> -->
        <div
          class="spinner-border"
          role="status"
          style="margin: auto; width: 6em; height: 6em; border: 0.7em solid black currentColor"
        ></div>
      </div>
    </div>
    <div class="m-2">
      <!--      <mat-form-field>-->
      <!--        <mat-label>Tìm kiếm</mat-label>-->
      <!--        <input matInput type="text" (keyup)="search($event)" />-->
      <!--      </mat-form-field>-->
      <table mat-table [dataSource]="listData" matSort class="mat-elevation-z8" style="width: 1383px">
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 7%">Tên khách hàng</th>
          <td mat-cell *matCellDef="let row">{{ row.userName }}</td>
        </ng-container>
        <ng-container matColumnDef="orderAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 19%">Địa chỉ nhận</th>
          <td mat-cell *matCellDef="let row">{{ row.orderAddress }}</td>
        </ng-container>
        <ng-container matColumnDef="orderPhone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%">Số điện thoại</th>
          <td mat-cell *matCellDef="let row">{{ row.orderPhone }}</td>
        </ng-container>
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%">Tổng thanh toán</th>
          <td mat-cell *matCellDef="let row">{{ row.totalAmount | currency: 'VND' }}</td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 9%">Ngày đặt hàng</th>
          <td mat-cell *matCellDef="let row">{{ row.createdDate | date: 'dd-MM-yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%">Trạng thái</th>
          <td mat-cell *matCellDef="let row">{{ getStatus(row.status) }}</td>
        </ng-container>
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef style="width: 5%">Xem</th>
          <td mat-cell *matCellDef="let row">
            <a>
              <fa-icon [icon]="'file-invoice-dollar'" [size]="'2x'" (click)="edit(row)" tooltip="Sửa"></fa-icon>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef style="width: 5%">Xoá</th>
          <td mat-cell *matCellDef="let row">
            <a>
              <fa-icon [icon]="'trash'" [size]="'2x'" (click)="delete(row, row.name)" tooltip="Xóa"></fa-icon>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
      <mat-paginator [length]="productsLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"> </mat-paginator>
    </div>
  </div>
</div>
