/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

#carouselExampleIndicators {
  box-shadow: -9px 8px 14px 5px #35383a;
}

.w-100 {
  height: 60vh;
}

@media screen and (min-width: 1200px) {
}

@media (min-width: 991.98px) {
  h1 {
    font-size: 90px;
  }
}

@media (max-width: 767.98px) {
  .w-100 {
    height: 50vh;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 20px;
  }

  h5,
  p {
    font-size: 12px;
  }

  .w-100 {
    height: auto;
  }
}
