/* ==========================================================================
Main page styles
========================================================================== */

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}

//---------------------- Custom by anh lam

.div-category {
  //margin-left: auto;
  //margin-right: auto;
  height: 40px;
  margin: auto auto auto auto;
  .category-nav {
    padding-right: 15px;
  }
}
