<div class="col-xl-9 col-lg-8 slider_box">
  <div class="slider-wrapper theme-default">
    <!-- Slider Background  Image Start-->
    <div id="slider" class="nivoSlider">
      <a href="shop.html"
        ><img
          src="content/images/jhipster_family_member_0_head-192.png"
          data-thumb="content/images/jhipster_family_member_0_head-192.png"
          alt=""
          title="#htmlcaption"
      /></a>
      <a href="shop.html"
        ><img
          src="content/images/jhipster_family_member_0_head-192.png"
          data-thumb="content/images/jhipster_family_member_0_head-192.png"
          alt=""
          title="#htmlcaption2"
      /></a>
    </div>
    <!-- Slider Background  Image Start-->
  </div>
</div>
