<div class="main-page-banner pb-50 off-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 slider_box">
        <div class="slider-wrapper theme-default">
          <!-- Slider Background  Image Start-->
          <div id="slider" class="nivoSlider">
            <a href="shop.html"><img src="./content/img/slider/1.jpg" data-thumb="img/slider/1.jpg" alt="" title="#htmlcaption" /></a>
            <a href="shop.html"><img src="./content/img/slider/2.jpg" data-thumb="img/slider/2.jpg" alt="" title="#htmlcaption2" /></a>
          </div>
          <!-- Slider Background  Image Start-->
        </div>
      </div>
      <!-- Slider Area End Here -->
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</div>
