<div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block" dropdown>
  <span dropdownToggle>
    <i class="fa fa-dropbox" style="padding-right: 20px"></i>
    Shop by Categories
  </span>
  <ul *dropdownMenu>
    <li class="has-sub">
      <a href="#">Automotive & Motorcycle </a>
      <ul class="category-sub">
        <li class="has-sub">
          <a href="shop.html">Office chair</a>
          <ul class="category-sub">
            <li><a href="shop.html">Bibendum Cursus</a></li>
            <li><a href="shop.html">Dignissim Turpis</a></li>
            <li><a href="shop.html">Dining room</a></li>
            <li><a href="shop.html">Dining room</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a href="shop.html">Purus Lacus</a>
          <ul class="category-sub">
            <li><a href="shop.html">Magna Pellentesq</a></li>
            <li><a href="shop.html">Molestie Tortor</a></li>
            <li><a href="shop.html">Vehicula Element</a></li>
            <li><a href="shop.html">Sagittis Blandit</a></li>
          </ul>
        </li>
        <li><a href="shop.html">gps accessories</a></li>
        <li><a href="shop.html">Microphones</a></li>
        <li><a href="shop.html">Wireless Transmitters</a></li>
      </ul>
      <!-- category submenu end-->
    </li>
    <li class="has-sub">
      <a href="#">Sports & Outdoors</a>
      <ul class="category-sub">
        <li class="menu-tile">Cameras</li>
        <li><a href="shop.html">Cords and Cables</a></li>
        <li><a href="shop.html">gps accessories</a></li>
        <li><a href="shop.html">Microphones</a></li>
        <li><a href="shop.html">Wireless Transmitters</a></li>
      </ul>
      <!-- category submenu end-->
    </li>
    <li class="has-sub">
      <a href="#">Home & Kitchen</a>
      <ul class="category-sub">
        <li><a href="shop.html">kithen one</a></li>
        <li><a href="shop.html">kithen two</a></li>
        <li><a href="shop.html">kithen three</a></li>
        <li><a href="shop.html">kithen four</a></li>
      </ul>
      <!-- category submenu end-->
    </li>
    <li class="has-sub">
      <a href="#">Phones & Tablets</a>
      <ul class="category-sub">
        <li><a href="shop.html">phone one</a></li>
        <li><a href="shop.html">Tablet two</a></li>
        <li><a href="shop.html">Tablet three</a></li>
        <li><a href="shop.html">phone four</a></li>
      </ul>
      <!-- category submenu end-->
    </li>
    <li class="has-sub">
      <a href="#">TV & Video</a>
      <ul class="category-sub">
        <li><a href="shop.html">smart tv</a></li>
        <li><a href="shop.html">real video</a></li>
        <li><a href="shop.html">Microphones</a></li>
        <li><a href="shop.html">Wireless Transmitters</a></li>
      </ul>
      <!-- category submenu end-->
    </li>
    <li><a href="#">Beauty</a></li>
    <li><a href="#">Sport & tourisim</a></li>
    <li><a href="#">Meat & Seafood</a></li>
  </ul>
</div>
