@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';
@import '~ngx-toastr/toastr.css';

//style import by anhlam
@import '../css/style.css';
@import '../css/font-awesome.min.css'; //icon
@import '../css/default.css';
@import '../css/linearicons.css'; //icon
//@import '../css/responsive.css';
//@import '../css/owl.carousel.min.css';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
  background-color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

// custom by anh lam
body {
  background-color: white;
  a:hover {
    text-decoration: none;
  }
}

:focus {
  outline: none;
}

.content {
  background-color: #f5f5f5;
  padding: 0% 14% 0% 14%;
  word-break: break-word;
  height: calc(100% - 64px);
}
.floatingButton {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #448aff;
  color: #fff;
  border-radius: 50px;
  /*border-style: solid;*/
  /*border-width: thin;*/
  border: none;
  box-shadow: 2px 2px 3px #999;
  outline: none;
  transition: backgroud 0.25s;
}
.floatingButton:active {
  background-color: grey;
}
.button.mat-focus-indicator.button.mat-raised-button.mat-button-base {
  margin: 2px;
}
.large-text {
  font-size: large;
}
.totalPrice-text {
  font-size: x-large;
  text-align: right;
}
.summary {
  height: 100px;
  border-style: solid;
  border-color: #448aff;
  padding: 20px;
  margin: 20px 0 20px;
  border-radius: 4px;
}
.ingredients-list {
  font-size: smaller;
  font-style: italic;
}
.mat-selection-list.mat-selection-list.mat-list-base {
  padding: 0px;
}
.mat-selection-list {
  overflow: auto;
  max-height: 100%;
}
.mat-card-image:first-child {
  border-top-left-radius: 0 !important;
}
.black-text {
  color: #000000de !important;
}

.margin-5 {
  padding-top: 5%;
}

.width-80 .modal-dialog {
  width: 80%;
  min-width: 80%;
}

.width-40 .modal-dialog {
  width: 45%;
  min-width: 45%;
}

.width-60 .modal-dialog {
  width: 60%;
  min-width: 60%;
}

.width-60 .modal-dialog .modal-content {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 30px;
  box-shadow: 0 0 6px rgb(226, 226, 226);
}

.height-90 {
}

button.setting {
  background-color: #998f8f;
  border: none;
  border-radius: 5px;
  width: 129px;
  padding: 5px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgb(133, 119, 117);
}

button.accept {
  background-color: #3f6eb9;
  border: none;
  border-radius: 5px;
  width: 129px;
  padding: 1px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgb(83, 144, 201);
}

button.accept-cart {
  background-color: #f33c41;
  border: none;
  border-radius: 5px;
  width: 180px;
  padding: 5px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgb(255, 142, 144);
}

button.select-voucher {
  background-color: #f33c41;
  border: none;
  border-radius: 5px;
  width: 160px;
  padding: 1px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgb(255, 142, 144);
}

.modal__btn {
  border: 1px solid #2c2c2c !important;
  border-radius: 100rem;
  padding: 8px !important;
  height: 41px !important;
  color: white !important;
  background: #0d0d0d !important;

  transition: 0.2s;
  margin-right: 1rem !important;
  margin-top: 0.5rem !important;
}

.modal__btn:hover {
  transform: translateY(-0.2rem) !important;
  color: white !important;
  background: #4f4a4a !important;
}
